    <td><%= link_to 'Visualizza', resource_url(res) %></td>
    <td><%= link_to 'Modifica', edit_resource_url(res) %></td>
    <td><%= link_to 'Cancella', resource_url(res), :confirm => 'Are you sure?', :method => :delete %></td>
